@font-face {
  font-family: 'Tolkien';
  src: url('/assets/fonts/Tolkienuncialmf-q3Ad.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

body {
  background-image: url('../assets/images/lord-of-the-rings-fellowship-of-the-ring-the-silhouettes.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

.game-container {
  position: relative;
  padding: 0;
  margin: 0;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.9rem;
}

h1 {
  color: #ffffff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Tolkien', sans-serif !important;
}

/* h1 {
  color: #161616;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 3rem;
} */


.required {
  color: darkred;
}



.game-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

#togglePassword,
#toggleSignupPassword,
#toggleRepeatPassword {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

.btn-link {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  color: var(--bs-primary);
}

.btn-link:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  text-decoration: underline;
}

#togglePassword:hover {
  background-color: red;
}

.progress {
  height: 0.3rem;
}

#passwordStrength {
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

/* div.progress {
  background-color: rgb(209, 209, 209);
} */

#passwordMatch {
  margin-bottom: -0.45rem;
}

.input-group {
  position: relative;
}

.input-group .btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  /* z-index: 10; */
  border: none;
  color: gray;
}

#togglePassword:hover,
#toggleRepeatPassword:hover,
#toggleSignupPassword:hover {
  background-color: transparent !important;
}

.btn {
  z-index: 100000;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: var(--bs-primary);
  box-shadow: 0px 0px 3px 0.4px #007bff6e;
  outline: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {   
  border: 1px solid #ced4da;
}

.form-check-input[type="checkbox"] {
  box-shadow: none;
  border: 1px solid #ced4da;
  cursor: pointer;
}

.tos a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.tos a:hover {
  text-decoration: underline;
}

.tos {
  font-size: 0.67rem;
}

.card {
  background-color: #ffffffd5;
  /* box-shadow: 0px 0px 3px #000000; */
  border: solid black 1px;
}



/* buttons landingspagina */
.btn {
  background-color: #6e505b !important;
  color: white !important;
  border: 1px solid #6e505b !important;
  border-radius: 300px !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) !important;
  transition: transform 0.1s ease !important;
}

.btn:hover {
  background-color: #442b34 !important;
  color: white !important;
  border-color: #442b34 !important;
}

.btn:active {
  background-color: #442b34 !important;
  color: white !important;
  border-color: #442b34 !important;
  transform: translateY(1px);
}

.SignupBtn {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.SignupBtn:hover {
    background-color: #218838 !important;
    border-color: #218838 !important;
}

.SignupBtn:active {
  background-color: #218838 !important;
  border-color: #218838 !important;
  color: white !important;
}